
<div class="slds-page-header">
	<h1 class="slds-page-header__title">Record Detail for {{table_name}}</h1>
</div>

<div class="slds-grid slds-wrap">
	{{#each records}}
		<div class="slds-col slds-size--1-of-3">
			<div class="slds-m-around--small">
				<article class="slds-card slds-card--narrow">
					<div class="slds-card__header cardHeader">
						RECORD - {{this.name}}
					</div>
					<div class="slds-card__body hiddenBody padded-10px-bottom">
		    			<div class="slds-card__body--inner">
		    				<form method="POST" action="/data">	
		    					<input type="hidden" name="orig_id" value="{{orig_id}}" />
			    				{{#each this.fields}}
			    					{{> (lookup . 'data_type')}}	
			    					<div>{{data_type}}</div>
			    					<div>value - {{value}}</div>    					
			    				{{/each}}
		    				<input type="submit" value="update" />
		    				</form>
		    			</div>
		    		</div>
				</article>
			</div>
		</div>
	{{/each}}
</div>